@import url('https://fonts.googleapis.com/css2?family=Poppin&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  text-align: center;
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

canvas {
  width: 100%;
  height: auto;
  max-width: 1400px;
  max-height: 1000px;
  margin: 0 auto;
}
